h1{
    text-align: center;
}
.main{
    background-color:rgb(84, 75, 75);
    border-radius: 10px;
  }
.container{
  background-color:white;
  color: white;
  padding: 20px;
}
img{
  border-radius: 30px;
}
